global:
  scrape_interval: 15s # Par défaut, scraper toutes les 15 secondes.
  evaluation_interval: 15s # Évaluer les règles toutes les 15 secondes.

scrape_configs:
  # Scraper les métriques de Prometheus lui-même
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Scraper les métriques de l'API FastAPI
  # Le nom 'api' est résolu par le réseau interne de Docker
  - job_name: 'fastapi-api'
    static_configs:
      - targets: ['api:8000']
    # Ajout de labels pour mieux identifier les métriques
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'airquality-ml-api'

  # Scraper les métriques des conteneurs via cAdvisor
  # Le nom 'cadvisor' est résolu par le réseau interne de Docker
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'cadvisor'