global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:

  # --- API FastAPI ---
  - job_name: "fastapi"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:8000"]   # API en local (hors docker)

  # --- Prometheus itself ---
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # --- Node Exporter (docker service) ---
  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
